html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

div {
    width: 100%;
    padding: 100px;
}

.one {
    background: #69585f;
}

.two {
    background: #ef959d;
}

.three {
    background: #fcddbc;
}