html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

div {
    width: 100%;
    padding: 100px;
}

.one {
    background: #69585f;
}

.two {
    background: #ef959d;
}

.three {
    background: #fcddbc;
}

button {
    font-size: 20px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    transform: scale(0.95);
    translate: all 200ms;
}

button:active {
    transform: scale(1);
}